/* Media breakpoints */
$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 1200px;

/* Colours */
$dark-green: #398a45;
$light-grey: #e8e9ea;
$primary-green: #20c063;
$primary-grey: #3b4144;
$primary-red: #c6538c;
$secondary-green: #51e18d;
$secondary-grey: #808080;
$white: #ffffff;
