.page {
    font-size: 14px;
    padding: 0 4px;

    a {
        color: $primary-green;

        &:hover {
            color: $dark-green;
        }
    }

    &:hover {
        color: $dark-green;
    }

    &.active {
        color: $primary-grey;
    }
    
    &.disabled {
        display: none;
    }
}