<footer>
    <section class="b-site-map">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 b-site-map__items">
                    <a href="#">About Trulia</a>
                    <span>·</span>
                    <a href="#">About Zillow Group</a>
                    <span>·</span>
                    <a href="#">Careers</a>
                    <span>·</span>
                    <a href="#">Investor Relations</a>
                    <span>·</span>
                    <a href="#">Advertising Terms</a>
                    <span>·</span>
                    <a href="#">Privacy</a>
                    <span>·</span>
                    <a href="#">Terms of Use</a>
                    <span>·</span>
                    <a href="#">Listings Quality Policy</a>
                    <span>·</span>
                    <a href="#">Subscription Terms</a>
                    <span>·</span>
                    <a href="#">Ad Choices</a>
                    <span>·</span>
                    <a href="#">Help</a>
                </div>

                <div class="col-xs-12">
                    <a class="b-site-map__disclaimer">
                        Copyright &copy; 2018 Trulia, LLC. All rights reserved. 
                        <span class="house-icon">
                            <i class="fas fa-home"></i>
                        </span> Equal Housing Opportunity.
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>